@use "../layout/header";
@use "../layout/footer";
@use "../layout/up";

#page-title {
    // background-color: #0c1315;
    background-color: #141A1C;

    .content {

        .title {
            // flex-direction: column;
            // justify-content: center;
            display: flex;
            justify-content: end;
            gap: 4px;
            padding: 20px 0;

            a {
                text-decoration: none;
                // color: #404040;
                color: #fff;
            }

            span {
                color: #fff;
            }
        }
    }
}


#shop {
    background-color: #141A1C;
    // height: 2250px;

    .products {
        padding-top: 5rem;

        .result-count {

            display: flex;
            justify-content: space-between;
            // outline: none;
            // border: none;

            p {
                // margin-bottom: 3rem;
                color: #fff;
            }

            select{
                outline: none;
                padding: 5px 10px 5px 10px;
            }



        }

        .product-list {

            .product-info {

                position: relative;

                &:hover .product-img img {
                    opacity: 0.2;
                }
    
                &:hover .image-inner {
                    opacity: 1;
                    transform: unset;
                }


                .product-img {
                    margin-bottom: 20px;
                    margin-top: 3rem;
                    width: 100%;
                    // height: 100%;
                    height: 535px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.6s all;
                    }
                }

                .content {

                    .top-holder {

                        display: flex;
                        justify-content: space-between;

                        a {
                            text-decoration: none;
                            color: #fff;

                            h5 {
                                font-size: 22px;
                            }
                        }

                        .price {

                            color: #fff;
                            font-size: 18px;

                            // span {
                            //     font-size: 18px;
                            // }
                        }

                    }

                    .info {
                        a {
                            // font-family: Inconsolata,sans-serif;
                            font-family: 'Times New Roman', Times, serif;
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: .25em;
                            text-transform: uppercase;
                            display: inline-flex;
                            vertical-align: middle;
                            flex-wrap: wrap;
                            color: #bfa37c;
                            text-decoration: none;
                            margin-bottom: 5rem;
                        }
                    }

                }

                .image-inner {
                    color: #a6a6a6;
                    position: absolute;
                    top: 0;
                    left: 0;
                    // width: 100%;
                    // height: 100%;
                    display: block;
                    padding: 30px 20%;
                    opacity: 0;
                    transition: 0.6s all ease;
                    transform: translateY(35px);
                    top: 30%;
        
                    .button {
                        a {
                            border: 1px solid #bfa37c;
                            font-family: 'Times New Roman', Times, serif;
                            font-size: 14px;
                            line-height: 25px;
                            letter-spacing: .25em;
                            position: relative;
                            display: inline-flex;
                            vertical-align: middle;
                            width: auto;
                            margin: 0;
                            text-decoration: none;
                            text-transform: uppercase;
                            outline: 0;
                            transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out;
                            padding: 17px 35px 17px 35px;
                            color: #fff;
        
                            span {
                                i {
                                    margin-right: 5px;
                                }
                            }
        
                        }

                    }
        
                }

            }

        }

    }


    .recent-post {

        margin-top: 5rem;

        .widget {
            margin-left: 15%;


            h5 {
                // margin-bottom: 25px;
                padding-top: 6rem;
                color: #fff;
                font-weight: 400;
                font-family: 'Times New Roman', Times, serif;
                font-size: 22px;
                line-height: 1.45455em;
                margin: 25px 0;
            }
        }

        .information {
            display: flex;

            .media {
                margin-left: 15%;
                display: flex;
                // margin-top: 10px;



                .media-img {
                    width: 115px;
                    height: 130px;

                    margin-bottom: 25px;

                    img {
                        // margin-bottom: 20px;

                        width: 100%;
                        height: 100%;
                        // transform: scale(1.04) translateX(-1%);
                        // transition: transform .6s ease;
                    }
                }




            }


            .content {
                .text {

                    h6 {
                        margin-left: 15px;

                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }

                .info {
                    a {
                        margin-left: 15px;
                        text-decoration: none;
                        color: #bfa37c;
                        text-transform: uppercase;
                        letter-spacing: .25em;
                        font-size: 14px;
                        font-family: 'Times New Roman', Times, serif;
                        // margin-bottom: 20px;
                    }
                }

            }

        }




    }


    .category {

        margin-left: 15%;

        .title {

            h5 {
                color: #fff;
                // padding: 20px 0;
                margin-top: 3rex;
                font-weight: 400;
                font-family: 'Times New Roman', Times, serif;
                font-size: 22px;
                line-height: 1.45455em;
            }

        }

        .categories-list {

            ul {
                list-style: none;
                padding: 0;

                a {
                    text-decoration: none;

                    li {
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: .25em;
                        text-transform: uppercase;
                        display: inline-flex;
                        flex-wrap: wrap;
                        color: #bfa37c;
                        display: block;
                    }
                }
            }

        }


    }


}