@model IEnumerable<WishlistItem>

@section Style{

    <link rel="stylesheet" href="~/assets/css/cart/cart.css">

}

@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle"></i><span>HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>

    </ul>

}

@section Menu{

    <ul>
        <li><a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-circle"></i><span>HOME</span></a></li>
        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>
        <li><a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a></li>
        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>
        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>
    </ul>

}

<main>

    <section id="cart-table">

        <div class="container mt-5">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Car</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Price</th>
                        <th scope="col">Date</th>
                        <th scope="col">IsAccepted</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WishlistItem wishlist in Model)
                    {
                        <tr>
                            <td><img style="width: 100px;" src="~/assets/img/home/@wishlist.Car.CarImages.FirstOrDefault(x=>x.IsMain==true)?.Image" alt=""></td>
                            <td>@wishlist.Car.Name</td>
                            <td>@wishlist.Car.CarClass.Name</td>
                            <td>$@wishlist.Car.Price</td>
                          @*  <td>@wishlist.Date.ToString("dd/MM/yyyy")</td>
                            <td>@wishlist.Status</td>*@
                        </tr>
                    }
                </tbody>
            </table>
            <div class="table-content">

                <div class="col-5">
                    <div class="cart-page-total">

                        <h2>Cart totals</h2>

                        <ul>
                            <li>Total <span>$@Model.Sum(x=>x.Car.Price)</span></li>
                        </ul>

                        <div class="button">
                            <button type="submit"><span><i class="fa-solid fa-plus"></i>Proceed to checkout</span></button>
                        </div>

                    </div>
                </div>



            </div>

        </div>



    </section>

</main>
