@model ComfortEditVM

@{
    ViewData["Title"] = "Edit";
}

<div class="container my-5">

    <h1 style="color:darkcyan;">Contact edit</h1>



    <form class="form-sample" asp-action="Edit" asp-route-id="@Model.Id" method="post">

        <h4 class="my-3">Title</h4>
        <input class="form-control" id="customFile" asp-for="Title" />
        <span class="text-danger" asp-validation-for="Title"></span>

        <h4 class="my-3">Phone</h4>
        <input class="form-control" id="customFile" asp-for="Phone" />
        <span class="text-danger" asp-validation-for="Phone"></span>

        <h4 class="my-3">Description</h4>
        <input class="form-control" id="customFile" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>

        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>

</div>
