@model Comfort

@{
    ViewData["Title"] = "Comfort";
}


<div class="container my-5">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>

                        <td class="py-1">
                            @Model.Title
                        </td>

                    <td class="py-1">
                        @Model.Phone
                    </td>



                        @*    <td class="py-1">
                    @advantage.Name
                    </td>*@

                        <td>
                            <a class="btn btn-outline-info" asp-action="Detail">
                                Info
                            </a>

                            <a class="btn btn-outline-primary" asp-action="Edit">
                                Edit
                            </a>

                        </td>



                    </tr>
                


            </tbody>
        </table>
    </div>


</div>

