@{
    ViewData["Title"] = "Shop - LuxeDrive";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/shop/shop.css">

}


<main>

    <section id="page-title">

        <div class="container">
            <div class="content">
                <div class="title">
                    <a href="home.html"><span> Home</span></a>
                    <span> /</span>
                    <span>Shop</span>
                </div>
            </div>
        </div>

    </section>


    <section id="shop">

        <div class="container">

            <div class="row">
                <div class="col-8">

                    <div class="products">

                        <div class="result-count">

                            <p>Showing 1–6 of 10 results</p>

                            <select>
                                <option value="">Default Sorting</option>
                                <option value="">Sort by popularity</option>
                                <option value="">Sort by latest</option>
                                <option value="">Sort by price: low to high</option>
                                <option value="">Sort by price: high to low</option>
                            </select>

                        </div>



                        <div class="product-list">
                            <div class="row">

                                <div class="col-6">

                                    <div class="product-info">

                                        <div class="product-img">
                                            <a href="product-detail.html"><img src="~/assets/img/home/car6.jpg" alt=""></a>
                                        </div>

                                        <div class="content">

                                            <div class="top-holder">

                                                <a href=""><h5>Nissan GT-R</h5></a>

                                                <div class="price">
                                                    <del>$180.00</del>
                                                    <span>$150.00</span>
                                                </div>

                                            </div>

                                            <div class="info">
                                                <a href="">Expensive</a>
                                            </div>

                                        </div>

                                        <div class="image-inner">

                                            <div class="button">
                                                <a href="product-detail.html"><span><i class="fa-solid fa-plus"></i>Place order</span></a>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-6">

                                    <div class="product-info">

                                        <div class="product-img">
                                            <a href="product-detail.html"><img src="~/assets/img/home/car4.jpg" alt=""></a>
                                        </div>

                                        <div class="content">

                                            <div class="top-holder">

                                                <a href=""><h5>Bmw M4 G82</h5></a>

                                                <div class="price">
                                                    <span>$150.00</span>
                                                </div>

                                            </div>

                                            <div class="info">
                                                <a href="">Expensive</a>
                                            </div>

                                        </div>


                                        <div class="image-inner">

                                            <div class="button">
                                                <a href="product-detail.html"><span><i class="fa-solid fa-plus"></i>Place order</span></a>
                                            </div>

                                        </div>

                                    </div>

                                </div>


                                <div class="col-6">

                                    <div class="product-info">

                                        <div class="product-img">
                                            <a href="product-detail.html"><img src="~/assets/img/home/car3.jpg" alt=""></a>
                                        </div>

                                        <div class="content">

                                            <div class="top-holder">

                                                <a href=""><h5>Rolls Royce Phantom</h5></a>

                                                <div class="price">
                                                    <span>$150.00</span>
                                                </div>

                                            </div>

                                            <div class="info">
                                                <a href="">Expensive</a>
                                            </div>

                                        </div>

                                        <div class="image-inner">

                                            <div class="button">
                                                <a href="product-detail.html"><span><i class="fa-solid fa-plus"></i>Place order</span></a>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-6">

                                    <div class="product-info">

                                        <div class="product-img">
                                            <a href="product-detail.html"><img src="~/assets/img/home/car5.jpg" alt=""></a>
                                        </div>

                                        <div class="content">

                                            <div class="top-holder">

                                                <a href=""><h5>Mercedes G-Class</h5></a>

                                                <div class="price">
                                                    <span>$150.00</span>
                                                </div>

                                            </div>

                                            <div class="info">
                                                <a href="">Expensive</a>
                                            </div>

                                        </div>

                                        <div class="image-inner">

                                            <div class="button">
                                                <a href="product-detail.html"><span><i class="fa-solid fa-plus"></i>Place order</span></a>
                                            </div>

                                        </div>

                                    </div>

                                </div>



                                <div class="col-6">

                                    <div class="product-info">

                                        <div class="product-img">
                                            <a href="product-detail.html"><img src="~/assets/img/home/car2.jpg" alt=""></a>
                                        </div>

                                        <div class="content">

                                            <div class="top-holder">

                                                <a href=""><h5>Aston Martin DB9</h5></a>

                                                <div class="price">
                                                    <span>$150.00</span>
                                                </div>

                                            </div>

                                            <div class="info">
                                                <a href="">Expensive</a>
                                            </div>

                                        </div>

                                        <div class="image-inner">

                                            <div class="button">
                                                <a href="product-detail.html"><span><i class="fa-solid fa-plus"></i>Place order</span></a>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-6">

                                    <div class="product-info">

                                        <div class="product-img">
                                            <a href="product-detail.html"><img src="~/assets/img/shop/product-img3.jpg" alt=""></a>
                                        </div>

                                        <div class="content">

                                            <div class="top-holder">

                                                <a href=""><h5>Mercedes-Benz</h5></a>

                                                <div class="price">
                                                    <span>$150.00</span>
                                                </div>

                                            </div>


                                            <div class="info">
                                                <a href="">Expensive</a>
                                            </div>

                                        </div>

                                        <div class="image-inner">

                                            <div class="button">
                                                <a href="product-detail.html"><span><i class="fa-solid fa-plus"></i>Place order</span></a>
                                            </div>

                                        </div>

                                    </div>

                                </div>



                            </div>
                        </div>




                    </div>

                </div>


                <div class="col-4">

                    <div class="popular-product">

                        <div class="widget">
                            <h5>Popular Products</h5>
                        </div>

                        <div class="information">
                            <div class="media">

                                <div class="media-img">
                                    <a href="product-detail.html"><img src="~/assets/img/shop/popular-product-img1.jpg" alt=""></a>
                                </div>


                            </div>

                            <div class="content">
                                <div class="text">
                                    <h6><a href="">Mercedes Benz</a></h6>
                                </div>

                                <div class="info">
                                    <a href="">$170.00</a>
                                </div>

                            </div>
                        </div>


                        <div class="information">
                            <div class="media">

                                <div class="media-img">
                                    <a href="product-detail.html"><img src="~/assets/img/shop/popular-product-img2.jpg" alt=""></a>
                                </div>


                            </div>

                            <div class="content">
                                <div class="text">
                                    <h6><a href="">Rolls Royce</a></h6>
                                </div>

                                <div class="info">
                                    <a href="">$180.00</a>
                                </div>

                            </div>
                        </div>


                        <div class="information">
                            <div class="media">

                                <div class="media-img">
                                    <a href="product-detail.html"><img src="~/assets/img/shop/popular-product-img3.jpg" alt=""></a>
                                </div>


                            </div>

                            <div class="content">
                                <div class="text">
                                    <h6><a href="">Lamborghini</a></h6>
                                </div>

                                <div class="info">
                                    <a href="">$190.00</a>
                                </div>

                            </div>
                        </div>




                    </div>


                    <div class="category">

                        <div class="title">
                            <h5>Categories</h5>
                        </div>

                        <div class="categories-list">

                            <ul>
                                <a href="">
                                <li>Expensive</li></a>
                                <a href="">
                                <li>Limo Service</li></a>
                            </ul>

                        </div>

                    </div>


                </div>
            </div>




        </div>



    </section>


</main>