@model ForgotPasswordVM

@{
    ViewData["Title"] = "ForgotPassword - LuxeDrive";
    Layout = "_UserLayout";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/login/login.css">

}

@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle"></i><span>HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>

    </ul>

}


<main>

    <section style="background-image: url('/assets/img/home/slider4.jpg')" id="login">
        <div class="form-box">
            <div class="form-value">
                <form method="post" asp-action="ForgotPassword">
                    <h2>Forgot Password</h2>

                    <div class="inputbox">
                        <i class="fa-solid fa-envelope"></i>
                        <input asp-for="Email" required>
                        <label for="">Email</label>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <button type="submit">Send</button>

                    <div class="register">
                        <a style="color:white; text-decoration:none;" asp-action="Login">Back to login</a>
                    </div>

                </form>

            </div>
        </div>
    </section>



</main>
