@model LoginVM

@{
    ViewData["Title"] = "Login - LuxeDrive";
    Layout = "_UserLayout";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/login/login.css">

}

@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle"></i><span>HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>

    </ul>

}


<main>

    <section style="background-image: url('/assets/img/home/slider4.jpg')" id="login">
        <div class="form-box">
            <div class="form-value">
                <div class="text-danger" asp-validation-summary="All"></div>
                <form method="post" asp-action="Login">
                    <h2>Login</h2>

                    <div class="inputbox">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="text"asp-for="EmailOrUserName" required>
                        <label for="">Email or Username</label>
                    </div>

                    <div class="inputbox">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" asp-for="Password" required>
                        <span class="text-danger" asp-validation-for="Password"></span>
                        <label for="">Password</label>
                    </div>

                    <div class="forget">
                        <label for=""><input type="checkbox">Remember Me <a href="#">Forget Password</a></label>
                    </div>

                    <button type="submit">Log in</button>

                    <div class="register">
                        <p>Don't have a account? <a asp-action="Register">Sign up</a></p>
                    </div>

                </form>

            </div>
        </div>
    </section>



</main>
