@{
    ViewData["Title"] = "Register - LuxeDrive";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/register/register.css">

}

<main>

    <section id="register">
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Register</h2>

                    <div class="inputbox">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" required>
                        <label for="">Your Name</label>
                    </div>

                    <div class="inputbox">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" required>
                        <label for="">FullName</label>
                    </div>

                    <div class="inputbox">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" required>
                        <label for="">Your Email</label>
                    </div>

                    <div class="inputbox">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" required>
                        <label for="">Your Password</label>
                    </div>

                    <div class="inputbox">
                        <i class="fa-solid fa-shield-halved"></i>
                        <input type="password" required>
                        <label for="">Repeat Your Password</label>
                    </div>

                    <button>Log in</button>

                    <div class="register">
                        <p>Already have an account? <a asp-action="Login">Sign in</a></p>
                    </div>

                </form>

            </div>
        </div>
    </section>



</main>


