@model RegisterVM

@{
    ViewData["Title"] = "Register - LuxeDrive";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/register/register.css">

}

@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle"></i><span>HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle"></i><span>ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>

    </ul>

}

<main>

    <section id="register">
        <div class="form-box">
            <div class="form-value">
                <div asp-validation-summary="All" style="color:red; margin-bottom:-10px"></div>
                <form method="post" asp-action="Register">
                    <h2>Register</h2>

                    <div class="inputbox">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" asp-for="FullName" required>
                        <label for="">FullName</label>
                    </div>

                    <div class="inputbox">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" asp-for="Username" required>
                        <label for="">Username</label>
                    </div>

                    <div class="inputbox">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" asp-for="Email" required>
                        <label for="">Your Email</label>
                    </div>

                    <div class="inputbox">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" asp-for="Password" required>
                        <label for="">Your Password</label>
                    </div>

                    <div class="inputbox">
                        <i class="fa-solid fa-shield-halved"></i>
                        <input type="password" asp-for="ConfirmPassword" required>
                        <label for="">Confirm Password</label>
                    </div>

                    <button type="submit">Log in</button>

                    <div class="register">
                        <p>Already have an account? <a asp-action="Login">Sign in</a></p>
                    </div>

                </form>

            </div>
        </div>
    </section>



</main>


