
@{
    ViewData["Title"] = "VerifyEmail";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/register/verify-email.css">

}

<div class="container">
    <div class="alert alert-success" role="alert">
        Please check your email for register confirmation!
    </div>
</div>

