@model IEnumerable<Tag>

@{
    ViewData["Title"] = "Color";
}


<div class="container my-5">
    <a class="btn btn-success text-white" asp-action="Create" style="float:right;">Create</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var color in Model)
                {

                    <tr>

                        <td class="py-1">
                            @color.Name
                        </td>

                        <td>

                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@color.Id">
                                Edit
                            </a>

                            <form asp-action="Delete" asp-route-id="@color.Id" style="display:inline-block;" method="post">
                                <button type="submit" class="btn btn-outline-danger">
                                    Delete
                                </button>
                            </form>
                        </td>

                    </tr>
                }


            </tbody>
        </table>
    </div>


</div>

