@model ContactCreateVM

@{
    ViewData["Title"] = "Create";
}


<div class="container my-5">
    <h1 style="text-align:center">Contact create</h1>

    <form class="form-sample" asp-action="Create" method="post" enctype="multipart/form-data">
        @*  <h4 class="my-3" style="color:blue">Add Image </h4>
        <input class="form-control" id="customFile" asp-for="Photos" />
        <span class="text-danger" asp-validation-for="Photos"></span>*@

        <h4 class="my-3" style="color:blue">Add City </h4>
        <input type="text" placeholder="Header" class="form-control" id="customFile" asp-for="City" />
        <span class="text-danger" asp-validation-for="City"></span>

        <h4 class="my-3" style="color:blue">Add Phone </h4>
        <input type="text" placeholder="Description" class="form-control" id="customFile" asp-for="Phone" />
        <span class="text-danger" asp-validation-for="Phone"></span>

         <h4 class="my-3" style="color:blue">Add Street </h4>
        <input type="text" placeholder="Description" class="form-control" id="customFile" asp-for="Street" />
        <span class="text-danger" asp-validation-for="Street"></span>

        <h4 class="my-3" style="color:blue">Add WorkTime </h4>
        <input type="text" placeholder="Description" class="form-control" id="customFile" asp-for="WorkTime" />
        <span class="text-danger" asp-validation-for="WorkTime"></span>

        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>

