
@{
    ViewData["Title"] = "About Us - LuxeDrive";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/about/about.css">

}

@section NavBar{

    <ul class="menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-circle"></i><span>HOME</span>
            </a>
        </li>

        <li><a asp-controller="About" asp-action="Index"><i class="fa-solid fa-circle active-icon"></i><span class="active-word">ABOUT</span></a></li>

        <li>
            <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-circle"></i><span>CONTACT</span></a>
        </li>

        <li><a asp-controller="Blog" asp-action="Index"><i class="fa-solid fa-circle"></i><span>BLOG</span></a></li>

        <li><a asp-controller="Shop"><i class="fa-solid fa-circle"></i><span>SHOP</span></a></li>

    </ul>

}

<main>

    <section id="about-us">

        <div class="background-img">

            <div class="title">
                <h1>About Us</h1>
            </div>

        </div>

    </section>



    <section id="comfort">
        <div class="container">

            <div class="title">
                <h2>
                    We Value Our Clients And Want
                    <br>
                    Them To Have A Nice Experience
                </h2>
            </div>

            <div class="subtitle">
                <span>finest transport</span>
            </div>

            <div class="line">
            </div>

            <div class="row">

                <div class="col-6">

                    <div class="widget">

                        <h5 style="color: #fff;">Clean & Comfortable </h5>

                        <p>
                            Tortor condimentum lacinia quis vel eros donec odio. Feugiat fermentum in posuere urna.
                            Faucibus turpis in eun mi bibendum.
                        </p>

                    </div>

                    <div class="widget">
                        <h5 style="color: #fff;">Smooth Car Transport</h5>

                        <p>
                            Tortor condimentum lacinia quis vel eros donec odio. Feugiat fermentum in posuere urna.
                            Faucibus turpis in eun mi bibendum.
                        </p>
                    </div>

                </div>

                <div class="col-6">

                    <div class="widget">
                        <h5 style="color: #fff;">Best Price Is Assured</h5>

                        <p>
                            Tortor condimentum lacinia quis vel eros donec odio. Feugiat fermentum in posuere urna.
                            Faucibus turpis in eun mi bibendum.
                        </p>
                    </div>

                    <div class="widget">
                        <h5 style="color: #fff;">Diverse Selection</h5>

                        <p>
                            Tortor condimentum lacinia quis vel eros donec odio. Feugiat fermentum in posuere urna.
                            Faucibus turpis in eun mi bibendum.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section>



    <section id="car">

        <div class="car-img">
            <!-- <img src="~/assets/img/about/rolls-royce.webp" alt=""> -->
            <img src="~/assets/img/about/merc.webp" alt="">
        </div>

    </section>


    <section id="question">

        <div class="container">

            <div class="title">
                <h2>Frequently Asked Questions </h2>
            </div>

            <div class="subtitle">
                <span>List of answers</span>
            </div>

            <div class="line">
            </div>


            <div class="widget">

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Do You Rent To International Visitors?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Do You Have Insurance?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                If I Rent A Vehicle Can I Choose The Chauffeur?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                        </div>
                    </div>

                    <!-- <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="">
                               Do Your Drivers Have Certificates?
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              How Old Do You Have To Be To Rent A Car?
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                          </div>
                        </div>

                    </div> -->

                </div>


            </div>

            <div class="content-img">
                <div class="row">

                    <div class="col-6">

                        <div class="img">
                            <img src="~/assets/img/about/question-img.jpg" alt="">
                        </div>

                    </div>

                    <div class="col-6">

                        <div class="row">

                            <div class="col-6">

                                <div class="img">
                                    <img src="~/assets/img/about/question-img2.jpg" alt="">
                                </div>

                            </div>

                            <div class="col-6">

                                <div class="img">
                                    <img src="~/assets/img/about/question-img3.jpg" alt="">
                                </div>

                            </div>

                        </div>


                    </div>

                </div>
            </div>

    </section>



    <section id="need">

        <div class="container">

            <div class="row">

                <div class="col-6">


                    <div class="widget">

                        <div class="title">
                            <h2>For Your Every Need</h2>
                        </div>

                        <div class="subtitle">
                            <span>Only the best</span>
                        </div>

                        <p>
                            Praesent elementum facilisis leo vel fringilla est. Vest bulum lectus a urise ultrices eros in cursus.
                        </p>

                        <div class="items">
                            <div>
                                <div class="digit-wrapper">
                                    <span>21</span>
                                    <span class="digit-label">+</span>
                                </div>

                                <div class="content">
                                    <p class="text">Years of experience</p>
                                </div>
                            </div>

                            <div>
                                <div class="digit-wrapper">
                                    <span>157</span>
                                    <span class="digit-label">k</span>
                                </div>

                                <div class="content">
                                    <p class="text">Satisfied clients</p>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>

                <div class="col-6">


                    <div class="img">
                        <img src="~/assets/img/about/onlythebest-img.jpg" alt="">
                    </div>




                </div>

            </div>

        </div>

    </section>


    <section id="up">

        <span>TOP</span>
        <i class="fa-solid fa-arrow-up"></i>

    </section>




</main>


@section Scripts{

    <script src="~/assets/js/scroll-to-up.js"></script>

}

