@model IEnumerable<Slider>

@{
    ViewData["Title"] = "Slider";
}

@*<h1>Slider index</h1>*@

<div class="container my-5">
    <a class="btn btn-success text-white" asp-action="Create" style="float:right;">Create</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    @*<th scope="col">BackGroundImage</th>*@
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var slider in Model)
                {

                    <tr>

                        <td class="py-1">
                            <img src="~/assets/img/home/@slider.Image" style="width:110px; height:110px; border-radius:50%; object-fit:cover;" alt="image">
                        </td>

                    @*    <td class="py-1">
                            <img src="~/assets/images/website-images/@slider.BackgroundImage" style="width:70px; height:70px; border-radius:50%" alt="image">
                        </td>*@


                        <td>
                            <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@slider.Id">
                                Info
                            </a>

                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@slider.Id">
                                Edit
                            </a>

                            <form asp-action="Delete" asp-route-id="@slider.Id" style="display:inline-block;" method="post">
                                <button type="submit" class="btn btn-outline-danger">
                                    Delete
                                </button>
                            </form>
                        </td>



                    </tr>
                }


            </tbody>
        </table>
    </div>


</div>

