@model Blog

@{
    ViewData["Title"] = "Detail";
}

<div class="container my-5">
    <h1>Blog detail</h1>

    <div class="my-3">

        <div class="blog-content mt-5">

            <h4 class="my-3">Image</h4>

            @foreach (var image in Model.BlogImages)
            {
                <img style="width:400px; height:200px;" src="~/assets/img/blog/@image.Image" />

            }

        </div>

        <h4 class="my-3">Title</h4>
        <input type="text" class="form-control" id="customFile" asp-for="Title" disabled="disabled" />

        <h4 class="my-3">Description</h4>
        <input type="text" class="form-control" id="customFile" asp-for="Description" disabled="disabled" />

@*        <h4 class="my-3">Author</h4>
        <input type="text" class="form-control" id="customFile" asp-for="Author.Name" disabled="disabled" />*@


    </div>
    <a class="btn btn-info mt-3" asp-action="Index">
        Back
    </a>
</div>


