@use "../layout/header";
@use "../layout/footer";
// @use "../components/transparent-header";

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #141A1C;
    // background: url('../../img/home/slider4.jpg');
    // background: url('../../img/about/about-us2.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .form-box {
        position: relative;
        width: 450px;
        height: 620px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        backdrop-filter: blur(15px);

        h2 {
            font-size: 2em;
            color: #fff;
            text-align: center;
        }

        .inputbox {
            position: relative;
            margin: 30px 0;
            width: 310px;
            border-bottom: 2px solid #fff;

            label {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                color: #fff;
                font-size: 1em;
                pointer-events: none;
                transition: .5s;
            }

            input {
                width: 100%;
                height: 50px;
                background: transparent;
                border: none;
                outline: none;
                font-size: 1em;
                padding: 0 35px 0 5px;
                color: #fff;
            }

            i {
                position: absolute;
                right: 8px;
                color: #fff;
                font-size: 1.2em;
                top: 20px;
            }

        }

        input:focus~label,
        input:valid~label {
            top: -5px;
        }


        .forget {
            margin: -15px 0 15px;
            font-size: .9em;
            color: #fff;
            display: flex;
            justify-content: center;

            label {

                input {
                    margin-right: 3px;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }

        }

        button {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            background: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1em;
            font-weight: 600;
        }

        .register {
            font-size: .9em;
            color: #fff;
            text-align: center;
            margin: 25px 0 10px;

            p {
                a {
                    text-decoration: none;
                    color: #fff;
                    font-weight: 600;
                }
            }

            p a:hover {
                text-decoration: underline;
            }

        }

    }

}