@{
    ViewData["Title"] = "LuxeDrive";
}

@section Style{

    <link rel="stylesheet" href="~/assets/css/home/home.css" />

}

<main>

    <section id="slider">

        <div class="slider">

            <div class="slider-img">
                <img src="~/assets/img/home/slider4.jpg" alt="">
            </div>

            <div class="slider-img">
                <img src="~/assets/img/home/slider2.jpg" alt="">
            </div>

            <div class="slider-img">
                <img src="~/assets/img/home/slider3.jpg" alt="">
            </div>

            <div class="slider-img">
                <img src="~/assets/img/home/slider1.jpg" alt="">
            </div>

        </div>

    </section>


    <section id="product">

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="product-title">

                        <div class="title">
                            <h2>What We Provide Is The Luxury Transport And Most Comfortable Experience </h2>
                        </div>

                    </div>


                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="product-widget">

                        <div class="widget">

                            <p>
                                Vivamus arcu felis bibendum ut tristique et egestas. Ultricies leo intege in
                                malesuada
                                nunc vel risus commodo. Sapien nec sagittis aliquam male bibendum arcu vitae. In
                                ornare
                                quam viverra orci sagittis eu volutpat odio facilisis. Fringilla est ullamcorper
                                eget
                                nulla facilisi nul.
                            </p>

                        </div>

                        <div class="call-center">

                            <div class="earphone">
                                <img src="~/assets/img/home/earphone.png" alt="">
                            </div>

                            <div class="call-number">
                                <a href=""> CALL CENTER: +1234 5678 901</a>
                            </div>

                        </div>

                    </div>




                </div>


                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="product">

                        <div class="product-img">
                            <a href="product-detail.html"><img src="~/assets/img/home/car3.jpg" alt=""></a>
                        </div>

                        <div class="image-inner">

                            <a href="">
                                <h4>Sport</h4>
                            </a>

                            <div class="price-info">
                                <div class="price">
                                    <span class="label">from</span>
                                    <span class="currency">$</span>
                                    <span>180</span>
                                    <span class="price-label">/ day</span>
                                </div>
                            </div>

                            <div class="description">
                                <p>Lorem ipsum dolor sit do amet, consectetur, adipiscing elit, sed </p>
                            </div>

                        </div>

                        <div class="content">

                            <a href="product-detail.html">
                                <h5>Rolls Royce Phantom</h5>
                            </a>


                            <!-- <div class="star-icon">
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                            </div> -->

                        </div>

                    </div>




                </div>


                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="product">

                        <div class="product-img">
                            <a href="product-detail.html"><img src="~/assets/img/home/car6.jpg" alt=""></a>
                        </div>

                        <div class="image-inner">

                            <a href="">
                                <h4>Sport</h4>
                            </a>

                            <div class="price-info">
                                <div class="price">
                                    <span class="label">from</span>
                                    <span class="currency">$</span>
                                    <span>180</span>
                                    <span class="price-label">/ day</span>
                                </div>
                            </div>

                            <div class="description">
                                <p>Lorem ipsum dolor sit do amet, consectetur, adipiscing elit, sed </p>
                            </div>

                        </div>

                        <div class="content">

                            <a href="product-detail.html">
                                <h5>Nissan GT-R</h5>
                            </a>



                            <!-- <div class="star-icon">
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                            </div> -->

                        </div>

                    </div>



                </div>


                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="product">

                        <div class="product-img">
                            <a href="product-detail.html"><img src="~/assets/img/home/car5.jpg" alt=""></a>
                        </div>

                        <div class="image-inner">

                            <a href="">
                                <h4>Sport</h4>
                            </a>

                            <div class="price-info">
                                <div class="price">
                                    <span class="label">from</span>
                                    <span class="currency">$</span>
                                    <span>180</span>
                                    <span class="price-label">/ day</span>
                                </div>
                            </div>

                            <div class="description">
                                <p>Lorem ipsum dolor sit do amet, consectetur, adipiscing elit, sed </p>
                            </div>

                        </div>

                        <div class="content">

                            <a href="product-detail.html">
                                <h5>Mercedes G-Class</h5>
                            </a>


                            <!-- <div class="star-icon">
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                            </div> -->

                        </div>

                    </div>



                </div>


                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="product">

                        <div class="product-img">
                            <a href="product-detail.html"><img src="~/assets/img/home/car4.jpg" alt=""></a>
                        </div>

                        <div class="image-inner">

                            <a href="">
                                <h4>Sport</h4>
                            </a>

                            <div class="price-info">
                                <div class="price">
                                    <span class="label">from</span>
                                    <span class="currency">$</span>
                                    <span>180</span>
                                    <span class="price-label">/ day</span>
                                </div>
                            </div>

                            <div class="description">
                                <p>Lorem ipsum dolor sit do amet, consectetur, adipiscing elit, sed </p>
                            </div>

                        </div>

                        <div class="content">

                            <a href="product-detail.html">
                                <h5>Bmw M4 G82 </h5>
                            </a>


                            <!-- <div class="star-icon">
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                            </div> -->

                        </div>

                    </div>



                </div>


                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="product">

                        <div class="product-img">
                            <a href="product-detail.html"><img src="~/assets/img/home/car2.jpg" alt=""></a>
                        </div>

                        <div class="image-inner">

                            <a href="">
                                <h4>Sport</h4>
                            </a>

                            <div class="price-info">
                                <div class="price">
                                    <span class="label">from</span>
                                    <span class="currency">$</span>
                                    <span>180</span>
                                    <span class="price-label">/ day</span>
                                </div>
                            </div>

                            <div class="description">
                                <p>Lorem ipsum dolor sit do amet, consectetur, adipiscing elit, sed </p>
                            </div>

                        </div>

                        <div class="content">

                            <a href="product-detail.html">
                                <h5>Aston Martin DB9</h5>
                            </a>


                            <!-- <div class="star-icon">
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                            </div> -->

                        </div>

                    </div>




                </div>


                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="product">

                        <div class="product-img">
                            <a href="product-detail.html"><img src="~/assets/img/home/car1.jpg" alt=""></a>
                        </div>

                        <div class="image-inner">

                            <a href="">
                                <h4>Sport</h4>
                            </a>

                            <div class="price-info">
                                <div class="price">
                                    <span class="label">from</span>
                                    <span class="currency">$</span>
                                    <span>180</span>
                                    <span class="price-label">/ day</span>
                                </div>
                            </div>

                            <div class="description">
                                <p>Lorem ipsum dolor sit do amet, consectetur, adipiscing elit, sed </p>
                            </div>

                        </div>

                        <div class="content">

                            <a href="product-detail.html">
                                <h5>Mercedes G-Class Brabus</h5>
                            </a>


                            <!-- <div class="star-icon">
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                                <i class="fa-solid fa-star" style="color: #bfa37c;"></i>
                            </div> -->

                        </div>

                    </div>



                </div>

            </div>

        </div>

    </section>



    <section id="comfort">
        <div class="container">

            <div class="title">
                <h2>
                    Ride To Destinations
                    <br>
                    With Maximum Comfort
                </h2>
            </div>

            <div class="subtitle">
                <span>finest transport</span>
            </div>

            <div class="line">
            </div>

            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="widget">

                        <h5 style="color: #fff;">No Delays</h5>

                        <p>
                            Tortor condimentum lacinia quis vel eros donec odio. Feugiat fermentum in posuere urna.
                            Faucibus turpis in eun mi bibendum.
                        </p>

                    </div>

                    <div class="widget">
                        <h5 style="color: #fff;">Premium Support</h5>

                        <p>
                            Tortor condimentum lacinia quis vel eros donec odio. Feugiat fermentum in posuere urna.
                            Faucibus turpis in eun mi bibendum.
                        </p>
                    </div>

                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="widget">
                        <h5 style="color: #fff;">High Quality</h5>

                        <p>
                            Tortor condimentum lacinia quis vel eros donec odio. Feugiat fermentum in posuere urna.
                            Faucibus turpis in eun mi bibendum.
                        </p>
                    </div>

                    <div class="widget">
                        <h5 style="color: #fff;">A Diverse Selection</h5>

                        <p>
                            Tortor condimentum lacinia quis vel eros donec odio. Feugiat fermentum in posuere urna.
                            Faucibus turpis in eun mi bibendum.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section>



    <section id="guarantee">

        <div class="container">

            <div class="row">

                <div class="col-6">

                    <div class="widget">

                        <h3>
                            We Care Of Your Safety
                            <br>
                            And Convenience
                        </h3>

                        <span>Premium drivers</span>

                        <p>
                            Facilisi cras fermentum odio eu feugiat. In fermentum et sollicitudin ac ori accumsan sit
                            amet nulla facilisi morbi tempus iaculis urna id. Aenean euismod elementum nisi quis
                            eleifend quam adipiscing vitae dipiscing.
                        </p>

                    </div>

                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="row">

                        <div class="col-lg-6 col-md-12 col-sm-12 ">

                            <div class="car-img car-img-left">

                                <img src="~/assets/img/home/rolls royce.jpg" alt="">

                            </div>

                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12">

                            <div class="car-img car-img-right">

                                <img src="~/assets/img/home/lamborghini.jpg" alt="">

                            </div>

                        </div>

                    </div>



                </div>

            </div>

        </div>
    </section>


    <section id="fav-car">

        <div class="background-img">

            <!-- <div class="title">
                <h2>
                    Do You Need To Rent A Car?
                    <br>
                    See Our Offers

                </h2>

            </div> -->
            <!-- <div class="button">
                <a href=""><span><i class="fa-solid fa-plus"></i>View more</span></a>
            </div> -->

        </div>

    </section>


    <section id="team">

        <div class="container">

            <div class="row">

                <div class="title">

                    <h2 style="color: #fff;">Our Proffesional Chauffeurs</h2>

                    <span>Meet or team</span>

                    <div class="line">
                    </div>

                </div>

                <div class="persons">

                    <div class="row">

                        <div class="col-4">

                            <div class="person-img">
                                <img src="~/assets/img/home/person1.jpg" alt="">
                            </div>

                            <div class="content">

                                <h5 style="color: #fff;">
                                    Marco Watkivi
                                </h5>

                                <div class="icon">
                                    <i class="fa-solid fa-phone " style="color: #bfa37c;"></i>
                                    <span>+1234 5678 901</span>
                                </div>

                            </div>

                        </div>

                        <div class="col-4">

                            <div class="person-img">
                                <img src="~/assets/img/home/person2.jpg" alt="">
                            </div>

                            <div class="content">

                                <h5 style="color: #fff;">
                                    Marily Sulli
                                </h5>

                                <div class="icon">
                                    <i class="fa-solid fa-phone " style="color: #bfa37c;"></i>
                                    <span>+2345 6789 012</span>
                                </div>

                            </div>

                        </div>

                        <div class="col-4">

                            <div class="person-img">
                                <img src="~/assets/img/home/person3.jpg" alt="">
                            </div>

                            <div class="content">

                                <h5 style="color: #fff;">
                                    Zakary Tapun
                                </h5>

                                <div class="icon">
                                    <i class="fa-solid fa-phone " style="color: #bfa37c;"></i>
                                    <span>+3456 7890 123</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section id="premium-rental">

        <div class="container">

            <div class="row">

                <div class="col-6">

                    <div class="row">
                        <div class="col-6">

                            <div class="img">
                                <img src="~/assets/img/home/premium-rental-img1.jpg" alt="">
                            </div>

                        </div>

                        <div class="col-6">
                            <div class="img2">
                                <img src="~/assets/img/home/h1-img-6.jpg" alt="">
                            </div>
                        </div>

                    </div>



                </div>

                <div class="col-6">

                    <div class="widget">

                        <div class="title">
                            <h2>Premium Cars Rental</h2>
                        </div>

                        <div class="subtitle">
                            <span>Only the best</span>
                        </div>

                        <p>
                            Praesent elementum facilisis leo vel fringilla est. Vest bulum lectus a urise ultrices
                            eros in cursus turpi uto.
                        </p>

                        <div class="items">
                            <div>
                                <div class="digit-wrapper">
                                    <span>21</span>
                                    <span class="digit-label">+</span>
                                </div>

                                <div class="content">
                                    <p class="text">Years of experience</p>
                                </div>
                            </div>

                            <div>
                                <div class="digit-wrapper">
                                    <span>157</span>
                                    <span class="digit-label">k</span>
                                </div>

                                <div class="content">
                                    <p class="text">Satisfied clients</p>
                                </div>
                            </div>
                        </div>


                    </div>



                </div>

            </div>

        </div>

    </section>



    <section id="car">

        <div class="car-img">
            <img src="~/assets/img/home/rolls-royce3.jpg" alt="">
        </div>

    </section>


    <section id="best-possibilities">

        <div class="container">

            <div class="title">
                <h2>A High Variety Of Options</h2>
            </div>

            <div class="subtitle">
                <span>Best possibilities</span>
            </div>


            <div class="line">
            </div>

            <div class="information">
                <div class="box">

                    <div class="car-img">
                        <img src="~/assets/img/home/best1.png" alt="">
                    </div>

                    <div class="title-price-wrapper">

                        <div class="title">
                            <h4>Premium</h4>
                        </div>

                        <div class="price-info">

                            <span>from</span>

                            <div class="price-inner">
                                <span class="value">40</span>
                                <span class="currency">$</span>
                            </div>

                            <span class="price-period">/d</span>

                        </div>
                    </div>

                    <div class="content">

                        <ul>
                            <li><i class="fa-solid fa-check"></i>Leo urna molestie at elem</li>
                            <li><i class="fa-solid fa-check"></i>Quisque non tellu si</li>
                            <li><i class="fa-solid fa-check"></i>Pretium lectus quam id li</li>
                        </ul>

                    </div>


                    <div class="button">
                        <a href="product-detail.html"><span><i class="fa-solid fa-plus"></i>Book now</span></a>
                    </div>


                </div>

            </div>


            <div class="information">
                <div class="box">

                    <div class="car-img">
                        <img src="~/assets/img/home/best2.png" alt="">
                    </div>

                    <div class="title-price-wrapper">

                        <div class="title">
                            <h4>Super</h4>
                        </div>

                        <div class="price-info">

                            <span>from</span>

                            <div class="price-inner">
                                <span class="value">50</span>
                                <span class="currency">$</span>
                            </div>

                            <span class="price-period">/d</span>

                        </div>
                    </div>

                    <div class="content">

                        <ul>
                            <li><i class="fa-solid fa-check"></i>Leo urna molestie at elem</li>
                            <li><i class="fa-solid fa-check"></i>Quisque non tellu si</li>
                            <li><i class="fa-solid fa-check"></i>Pretium lectus quam id li</li>
                        </ul>

                    </div>

                    <div class="button">
                        <a href="product-detail.html"><span><i class="fa-solid fa-plus"></i>Book now</span></a>
                    </div>


                </div>

            </div>



            <div class="information">
                <div class="box">

                    <div class="car-img">
                        <img src="~/assets/img/home/best3.png" alt="">
                    </div>

                    <div class="title-price-wrapper">

                        <div class="title">
                            <h4>Luxury</h4>
                        </div>

                        <div class="price-info">

                            <span>from</span>

                            <div class="price-inner">
                                <span class="value">70</span>
                                <span class="currency">$</span>
                            </div>

                            <span class="price-period">/d</span>

                        </div>
                    </div>

                    <div class="content">

                        <ul>
                            <li><i class="fa-solid fa-check"></i>Leo urna molestie at elem</li>
                            <li><i class="fa-solid fa-check"></i>Quisque non tellu si</li>
                            <li><i class="fa-solid fa-check"></i>Pretium lectus quam id li</li>
                        </ul>

                    </div>

                    <div class="button">
                        <a href="product-detail.html"><span><i class="fa-solid fa-plus"></i>Book now</span></a>
                    </div>


                </div>

            </div>


            <div class="information">
                <div class="box">

                    <div class="car-img">
                        <img src="~/assets/img/home/best4.png" alt="">
                    </div>

                    <div class="title-price-wrapper">

                        <div class="title">
                            <h4>Business</h4>
                        </div>

                        <div class="price-info">

                            <span>from</span>

                            <div class="price-inner">
                                <span class="value">80</span>
                                <span class="currency">$</span>
                            </div>

                            <span class="price-period">/d</span>

                        </div>
                    </div>

                    <div class="content">

                        <ul>
                            <li><i class="fa-solid fa-check"></i>Leo urna molestie at elem</li>
                            <li><i class="fa-solid fa-check"></i>Quisque non tellu si</li>
                            <li><i class="fa-solid fa-check"></i>Pretium lectus quam id li</li>
                        </ul>

                    </div>


                    <div class="button">
                        <a href="product-detail.html"><span><i class="fa-solid fa-plus"></i>Book now</span></a>
                    </div>


                </div>

            </div>

        </div>
    </section>



    <section id="sale">

        <div class="background-img">

            <div class="title">
                <h2>
                    Get 15% Off Your Rental!
                    <br>
                    Choose Your Model
                </h2>
            </div>

        </div>



    </section>





</main>



@section Scripts{

    <script src="~/assets/js/home.js"></script>

}
