@use "../layout/header";
@use "../layout/footer";


#page-title {
    background-color: #141A1C;

    .content {

        .title {
            display: flex;
            justify-content: end;
            gap: 4px;
            padding: 20px 0;

            a {
                text-decoration: none;
                color: #fff;
            }

            span {
                color: #fff;
            }
        }
    }
}


#product-detail {
    background-color: #141A1C;
    // padding-top: 5rem;
    padding-top: 5%;
    height: 1550px;

    .product-detail-info {
        width: 100%;
        // height: 100%;
        height: 550px;

        img {
            margin-bottom: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content {

            margin-top: 3rem;

            .title {

                h2 {
                    color: #fff;
                    font-weight: 400;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 42px;
                    line-height: 1.30952em;
                }

            }

            .info {
                p {
                    color: #fff;
                }

            }

        }


    }

    .img {
        width: 331px;
        height: 196.53px;
        margin-left: 10%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .product-name {
        margin-left: 15%;

        h4 {
            font-family: 'Times New Roman', Times, serif;
            color: #fff;
            font-weight: 400;
            font-size: 28px;
            line-height: 1.42857em;
            margin: 25px 0;
        }
    }

    .tags {
        margin-left: 15%;

        a {
            margin: 0 8px 8px 0;
            border: 1px solid #d9d6ce;
            border-radius: 5px;
            background-color: transparent;
            font-size: 14px;
            text-transform: capitalize;
            color: #fff;
            white-space: nowrap;
            transition: border-color .6s ease;
            padding: 5px 30px 5px 31px;
            display: inline-block;
            border-color: #d9d6ce;
            // color: #404040;
            text-decoration: none;
        }
    }

    .extra-info {

        margin-left: 15%;
        margin-top: 3rem;

        .title {
            h5 {
                color: #fff;
                font-weight: 400;
                font-family: 'Times New Roman', Times, serif;
                font-size: 22px;
                line-height: 1.45455em;
                color: #fff;
            }
        }

        .text {
            span {
                color: #fff;
            }
        }

    }

    .price-info {

        margin-left: 15%;
        margin-top: 3rem;
        // margin-top: 3%;

        h5 {
            font-weight: 400;
            font-family: 'Times New Roman', Times, serif;
            font-size: 22px;
            line-height: 1.45455em;
            // margin: 25px 0;
            // -ms-word-wrap: break-word;
            // word-wrap: break-word;
            color: #fff;
        }

        .price {
            color: #fff;
            display: inline-flex;
            line-height: 1;
            display: flex;
            align-items: flex-end;
            padding: 30px 0 26px;
            border-bottom: 1px solid #d9d6ce;

            span {
                font-size: 40px;
            }

            .currency {
                font-size: 20px;
                align-self: flex-start;
            }

            .price-label {
                span {
                    color: #fff;
                    font-size: 17px;
                }
            }

        }

        .rezerv {

            margin-top: 3rem;
            // display: flex;
            // flex-direction: column;
            // display: grid;
            display: inline-grid;

            label{
                color: #fff;
                padding: 7px 12px;
            }

            input {
                outline: none;
                height: 34px;
                padding: 6px 12px;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }


        .button {
            a {
                border: 1px solid #bfa37c;
                font-family: 'Times New Roman', Times, serif;
                font-size: 14px;
                line-height: 25px;
                letter-spacing: .25em;
                position: relative;
                display: inline-flex;
                vertical-align: middle;
                width: auto;
                margin: 0;
                text-decoration: none;
                text-transform: uppercase;
                outline: 0;
                transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out;
                padding: 17px 35px 17px 35px;
                color: #fff;
                margin-top: 3rem;

                span {
                    i {
                        margin-right: 5px;
                    }
                }

            }

        }

    }


}


#product-comment {

    background-color: #141A1C;
    height: 800px;

    .product-comment {
        // background-color: #f6f7fb;
        background-color: #eaecf0;
        border-radius: 15px;
        padding: 40px;

        h4 {
            margin-bottom: 20px;
            line-height: 24px;
            font-size: 30px;
            color: #222121;
        }

        .product-comment-item {

            .comment {

                .user-meta {

                    h2 {
                        color: #333333;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 29px;
                        margin-bottom: 5px;
                    }

                    span {
                        color: #666666;
                        font-size: 14px;
                        display: block;
                        margin-bottom: 20px;
                    }

                }

                p {
                    margin-bottom: 20px;
                    line-height: 30px;
                }

                a {
                    background-color: #343434;
                    border-radius: 5px;
                    width: 100px;
                    height: 35px;
                    line-height: 35px;
                    color: #ffffff;
                    font-size: 14px;
                    text-decoration: none;
                }

            }
        }

    }


    .post-comment {

        background-color: #eaecf0;
        border-radius: 15px;
        padding: 40px;
        margin-top: 5rem;

        h2 {
            margin-bottom: 40px;
            line-height: 24px;
            font-size: 30px;
            color: #222121;
        }

        textarea {
            width: 100%;
            outline: none;
            padding: 20px;
            margin-bottom: 20px;
        }

        .button {

            button {
                border: 3px solid #bfa37c;
                // border: 2px solid #0b45b8;;
                background-color: #141A1C;
                font-family: 'Times New Roman', Times, serif;
                font-size: 14px;
                line-height: 25px;
                letter-spacing: .25em;
                position: relative;
                display: inline-flex;
                vertical-align: middle;
                width: auto;
                margin: 0;
                text-decoration: none;
                text-transform: uppercase;
                outline: 0;
                transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out;
                padding: 17px 47px 17px 50px;
                color: #fff;

                span {
                    i {
                        margin-right: 5px;
                    }
                }

            }
        }


        // button {
        //     width: 210px;
        //     height: 65px;
        //     line-height: 65px;
        //     font-size: 16px;
        //     // background-color: #343434;
        //     background-color: #abd373;
        //     border-color: #abd373;
        //     border: none;
        //     color: #ffffff;
        //     text-transform: uppercase;
        //     overflow: hidden;
        //     border-radius: 23.5px;  
        //     padding: 0;
        // }



    }




}