#up{
    position: fixed;
    bottom: 125px;
    right: 30px;
    color: #bfa37c;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;
    opacity: 0;
    pointer-events: none;
    

    &:hover span{
        transform: translateX(-6px);
    }

    span{
        letter-spacing: 3px;
        margin-right: 7px;
        transition: 0.5s all;
    }

    i{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 2px solid #bfa37c;
        
    }
}