@model CarCreateVM 


@{
    ViewData["Title"] = "Create";
}

<div class="container my-5">
    <h1 style="color:darkcyan; text-align:center">Blog create</h1>

    <form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <h4 class="my-3" style="color:darkcyan">Images</h4>
            <input class="form-control " id="customFile" asp-for="Photos" />
            <span class="text-danger" asp-validation-for="Photos"></span>
        </div>

        <div class="form-group">
            <h4 class="my-3" style="color:darkcyan">Name</h4>
            <input type="text" placeholder="Title" class="form-control" id="customFile" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <h4 class="my-3" style="color:darkcyan">Category</h4>
            <select class="form-select" aria-label="Default select example" id="customFile" asp-for="CarCategories" asp-items="ViewBag.categories"></select>
        </div>

        <div class="form-group">
            <h4 class="my-3" style="color:darkcyan">Tag</h4>
            <select class="form-select" aria-label="Default select example" id="customFile" asp-for="CarTags" asp-items="ViewBag.tags"></select>
        </div>


        <div class="form-group">
            <h4 class="my-3" style="color:darkcyan">Class</h4>
            <select class="form-select" aria-label="Default select example" id="customFile" asp-for="CarClassId" asp-items="ViewBag.carClass"></select>
        </div>

        <div class="form-group">
            <h4 class="my-3" style="color:darkcyan">Description</h4>
            <textarea class="form-control" id="description-text" asp-for="Description" rows="5"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>


        <div class="form-group">
            <h4 class="my-3" style="color:darkcyan">ShortDescription</h4>
            <textarea class="form-control" id="description-text" asp-for="ShortDescription" rows="5"></textarea>
            <span class="text-danger" asp-validation-for="ShortDescription"></span>
        </div>

        <div class="form-group">
            <h4 class="my-3" style="color:darkcyan">Extra</h4>
            <input type="text" placeholder="Title" class="form-control" id="customFile" asp-for="Extra" />
            <span class="text-danger" asp-validation-for="Extra"></span>
        </div>



        <div class="form-group">
            <h4 class="my-3" style="color:darkcyan">Price</h4>
            <input type="text" placeholder="Title" class="form-control" id="customFile" asp-for="Price" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>




        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>
