@model CarAdminDetailVM

@{
    ViewData["Title"] = "Car Detail";
}

<div class="container" style="margin-top: 40px">

    @foreach (var image in Model.Images)
    {
        <img class="mb-3" style="width: 300px; height: 300px; border-radius: unset; object-fit: cover" src="~/assets/img/home//@image" />
    }

    <div class="my-3">
        <h4>Name</h4>
        <input class="form-control" id="customFile" asp-for="Name" disabled="disabled" />
    </div>

    <div class="my-3">
        <h4>Price</h4>
        <input class="form-control" id="customFile" asp-for="Price" disabled="disabled" />
    </div>

    <div class="my-3">
        <h4>Description</h4>
        <input class="form-control" id="customFile" asp-for="Description" disabled="disabled" />
    </div>

    <div class="my-3">
        <h4>ShortDescription</h4>
        <input class="form-control" id="customFile" asp-for="ShortDescription" disabled="disabled" />
    </div>

    <div class="my-3">
        <h4>Extra</h4>
        <input class="form-control" id="customFile" asp-for="Extra" disabled="disabled" />
    </div>

    <div class="my-3">
        <h4>Class</h4>
        <input class="form-control" id="customFile" asp-for="CarClass.Name" disabled="disabled" />
    </div>


    <div class="my-3">

        <h4>Categories</h4>

        @foreach (var category in Model.Categories)
        {
            <input class="form-control" disabled value="@category">
        }

    </div>

    <div class="my-3">

        <h4>Tags</h4>

        @foreach (var tag in Model.Tags)
        {
            <input class="form-control" disabled value="@tag">
        }

    </div>

 
    <div class="my-3">

        <h4>Create Time</h4>
        <input class="form-control" disabled asp-for="CreatedAt">

    </div>


    <a class="btn btn-info mt-3" asp-action="Index">
        Back
    </a>

</div>

