@model PremiumRental

@{
    ViewData["Title"] = "Detail";
}

<div class="container my-5">

    <h1 style="color:darkcyan;">PremiumRental detail</h1>

    <div class="premiumRental-content mt-5">

        <h4 style="color:darkcyan" class="my-3">Image</h4>

        @foreach (var image in Model.PremiumRentalImages)
        {
            <img style="width:400px; height:200px;" src="~/assets/img/home/@image.Image" />

        }

    </div>

    <h4 style="color:darkcyan;" class="my-3">Title</h4>
    <input type="text" class="form-control" id="customFile" asp-for="Title" disabled="disabled" />

       <h4 style="color:darkcyan;" class="my-3">SubTitle</h4>
    <input type="text" class="form-control" id="customFile" asp-for="SubTitle" disabled="disabled" />


    <h4 style="color:darkcyan;" class="my-3">Description</h4>
    <input type="text" class="form-control" id="customFile" asp-for="Description" disabled="disabled" />


    <h4 style="color:darkcyan;" class="my-3">ExperienceTitle</h4>
    <input type="text" class="form-control" id="customFile" asp-for="ExperienceTitle" disabled="disabled" />

    <h4 style="color:darkcyan;" class="my-3">ExperienceCount</h4>
    <input type="text" class="form-control" id="customFile" asp-for="ExperienceCount" disabled="disabled" />

    <h4 style="color:darkcyan;" class="my-3">Clients</h4>
    <input type="text" class="form-control" id="customFile" asp-for="Clients" disabled="disabled" />

    <h4 style="color:darkcyan;" class="my-3">ClientNumber</h4>
    <input type="text" class="form-control" id="customFile" asp-for="ClientNumber" disabled="disabled" />


    <a class="btn btn-info mt-3" asp-action="Index">
        Back
    </a>

</div>

