@model PremiumRental

@{
    ViewData["Title"] = "Quarantee";
}


<div class="container my-5">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">ExperienceCount</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>

                <tr>

                    <td class="py-1">
                        <img src="~/assets/img/home/@Model.PremiumRentalImages.FirstOrDefault().Image" style="width:70px; height:70px; border-radius:50%" alt="image">
                    </td>

                    <td class="py-1">
                        @*@Html.Raw(Model.Title)*@
                        @Model.Title
                    </td>

                    <td class="py-1">
                        @Model.ExperienceCount
                    </td>

                    <td>
                        <a class="btn btn-outline-info" asp-action="Detail">
                            Info
                        </a>

                        <a class="btn btn-outline-primary" asp-action="Edit">
                            Edit
                        </a>

                    </td>


                </tr>



            </tbody>
        </table>
    </div>


</div>

